* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  overflow: auto;
  padding-bottom: 82px;
}

.left-middle-align {
  margin: 0;
  height: 50px;
  width: 450px;
  display: inline-block;
  position: relative;
}

.left-middle-align span {
  display: inline-block;
}

.left-middle-align .rclogo {
  position: absolute;
  top: 50%;
  margin-top: -20px;
  height: 40px;
}

.left-middle-align .rclogo img {
  height: 100%;
  width: auto;
}

.left-middle-align .title {
  position: absolute;
  top: 50%;
  left: 150px;
  margin-top: -12px;
  /* color: #fa9900; */
}

.middle-align {
  height: 50px;
  margin: 0 30px;
}

.middle-align li {
  height: 50px;
  line-height: 50px;
  font-size: 13px;
}

.middle-align li a {
  line-height: 50px;
  color: #777777!important;
  font-size: 13px;
}

.navbar.no-border {
  padding: 0 30px;
  border-bottom: none!important;
  box-shadow: 0 1px 3px 0 #cccccc;
}

.btn-rc {
  border: none;
  border-radius: 3px;
  padding: 4px 10px;
}

.rc-login-footer {
  font-size: 10px;
  padding: 20px 30px;
  position: absolute;
  bottom: 0;
}

#content {
  padding: 20px 30px;
}

.scrollable_calllist {
  border: none;
  padding: 0;
}

#content .table-content {
  margin: 0;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

#content .table-content table th {
  text-align: center;
}

#content .table-content table td {
  text-align: center;
}

#content .table-header {
  padding: 0;
}
