.video-wrapper {
  width: 100%;
  background: #000000;
  padding: 4px;
  position: relative;
}

.overlay {
  position:fixed;
  bottom: 60px;
  left: 20px;
  padding: 5px 15px;
  z-index: 999!important;
  color: white;
  opacity: 0.5;
  font-size: 1.6em;
  background-color: black;
  -moz-box-shadow: 2px 2px 4px 0px #000000;
  -webkit-box-shadow: 2px 2px 4px 0px #000000;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  display: none;
}

.video-area {
  padding: 0 15%;
  position: relative;
}

.video-area video {
  margin: 0 auto;
  width: 100%;
  height: 232px;
  display: block;
  margin-bottom: 4px;
  position: relative;
  cursor: pointer;
}

.video-controls {
  height: 40px;
  position: relative;
}

.video-progress {
  width: 100%;
  display: block;
}

#video-progress {
  width: 100%;
  height: 1px;
  border-radius: 2px;
  color: #0095dd;
  background: #0095dd;
  display: block;
  cursor: pointer;
  opacity: 1;
}

progress::-webkit-progress-bar {
  background: #999999;
}

progress::-webkit-progress-value {
  background: #0095dd;
}

#video-progress span {
  width: 0%;
  height: 100%;
  display: inline-block;
  background: #0095dd;
}

.video-play {
  position: absolute;
  width: 14px;
  height: 14px;
  left: 12px;
  top: 50%;
  margin-top: -7px;
  cursor: pointer;
}

.video-play .pause {
  /* display: block; */
  width: 12px;
  height: 12px;
  border-radius: 2px;
  background: #ffffff;
  position: absolute;
  top: 1px;
  left: 1px;
  content: ' ';
}

.video-play .play {
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 0 6px 10.4px;
  border-color: transparent transparent transparent #ffffff;
  position: absolute;
  top: 2px;
  left: 1px;
  content: ' ';
}

.video-volume {
  float: left;
  margin-left: 45px;
  position: relative;
  top: 10px;
  cursor: pointer;
}

.video-volume img {
  display: inline-block;
  width: 20px;
  position: relative;
  top: -1px;
}

.video-volume .videoSliderVolume {
  display: inline-block;
  position: relative;
  top: -2px;
  background: linear-gradient(to right, #ffffff 0%, #ffffff 50%, #888888 50%, #888888);
}

.video-duration {
  float: left;
  margin-left: 20px;
  position: relative;
  top: 14px;
  font-size: 12px;
  color: #ffffff;
}

.video-volume input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 9.8px;
  height: 10.3px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  position: relative;
  top: 0;
}

.video-volume input[type='range']::-moz-range-thumb {
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 8px;
  height: 8px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  position: relative;
  top: 0;
}

.video-fullscreen {
  float: right;
  margin-right: 10px;
  position: relative;
  top: 9px;
  cursor: pointer;
}

.video-fullscreen img {
  width: 25px;
}

.video-wrapper:full-screen {
  width: 100%;
  height: 100%;
  padding: 0;
}

.video-wrapper:-webkit-full-screen {
  width: 100%;
  height: 100%;
  padding: 0;
}

.video-wrapper:full-screen .video-area {
  width: 100%;
  height: 100%;
  padding: 0;
  position: absolute;
  left: 0;
  top: 0;
}

.video-wrapper:-webkit-full-screen .video-area {
  width: 100%;
  height: 100%;
  padding: 0;
  position: absolute;
  left: 0;
  top: 0;
}

.video-wrapper:full-screen .video-area video {
  width: 100%;
  height: 100%;
  padding: 0;
  position: absolute;
  left: 0;
  top: 0;
  max-width: none;
}

.video-wrapper:-webkit-full-screen .video-area video {
  width: 100%;
  height: 100%;
  padding: 0;
  position: absolute;
  left: 0;
  top: 0;
  max-width: none;
}

.video-wrapper:full-screen .video-progress {
  position: absolute;
  bottom: 41px;
  left: 0;
  width: 100%;
  display: none;
  opacity: 0.8;
}

.video-wrapper:-webkit-full-screen .video-progress {
  position: absolute;
  bottom: 41px;
  left: 0;
  width: 100%;
  display: none;
  opacity: 0.8;
}

.video-wrapper:full-screen .video-controls {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.8;
  display: none;
  background: #000000;
  width: 100%;
}

.video-wrapper:full-screen .overlay {
  display: block;
}

.video-wrapper:-webkit-full-screen .overlay {
  display: block;
}

.video-wrapper:-webkit-full-screen .video-controls {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.8;
  display: none;
  background: #000000;
  width: 100%;
}

.video-wrapper:full-screen:hover .video-controls {
  display: block;
  width: 100%;
}

.video-wrapper:full-screen:hover .video-progress {
  display: block;
  width: 100%;
}


.video-wrapper:-webkit-full-screen:hover .video-controls {
  display: block;
  width: 100%;
}

.video-wrapper:-webkit-full-screen:hover .video-progress {
  display: block;
  width: 100%;
}

.video-wrapper:-webkit-full-screen:hover .video-fullscreen img {
  width: 16px;
}
